<body>
    <div class="container">  
        <h2 style="text-align: center;">PGI H.Q-N-1-VWP</h2>  
          <h5 style="text-align: center;color: yellow">(Hindi Version)</h5>
          <div class="row">
              
            <div class="col-md-4">S.K. Verma (Chandigarh)</div>
            <div class="col-md-4">N.N. Wig (Delhi)</div>
            <div class="col-md-4">Dwarka Pershad (Chandigarh)</div>
        </div>  
        <h2 style="text-align: center">निर्देश</h2>
    <p style="font-size: 17px">
            आगे के पृष्ठों पर आपके शारीरिक एवं मानसिक स्वास्थ्य के सम्बन्ध में 38 कथन दिए गए है |कृपया प्रत्येक कथन
            को ध्यानपूर्वक पढ़े तथा सामान्यतः आप कैसा अनुभव करते हैं, के आधार पर समुचित में तीन
            विकल्प उत्तर, यथा भाग &#39;अ&#39; (प्रशन 1-16) में सदैव, कभी-कभी या कभी नहीं तथा भाग ‘ब’ (प्रशन 17-38) में
            विकल्प सत्य, कुछ-कुछ सत्य या असत्य में से किसी एक पर जो आपके विचार/अनुभव/स्तिथि के निकटतम हो ,
            उसपर क्लिक करे | कृपया सभी 38 कथनो के उत्तर अवश्य दे |
    </p>
    <h3 style="text-align: center;color: yellow">आपके उत्तरों को पूर्णतया गोपनीय रखा जायेगा |</h3>
    <form [formGroup]="SurverRegistrationForm" style="font-size: 15px" >  
            <div class="col-md-2"></div>
    <div class="col-md-4">
          
            <div id="contact-form" class="form-container" data-form-container>
                <div class="input-container">
                    	<div class="row">
                            	<span class="req-input" >
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                        
                                        <mat-form-field class="example-full-width">
                                                <input matInput formControlName="name"  placeholder="नाम *" >
                                              </mat-form-field>
                                    </span>
                        </div>
                        <div class="row">
                                <span class="req-input">
                                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                    <mat-form-field>
                                            <input matInput [matDatepicker]="picker" formControlName="date"  placeholder="दिनांक">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                </span>
                        </div>
                        <div class="row">
                                <span class="req-input">
                                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                    <mat-form-field>
                                            <input matInput [matDatepicker]="picker2" formControlName="dob"  placeholder="जन्म की तारीख" >
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                          </mat-form-field>
                                </span>
                        </div>
                       
                        	<div class="row">
                                    <span class="req-input">
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                        <mat-radio-group formControlName="sex" aria-label="Select an option">
                                                <mat-radio-button value="male">पुरुष</mat-radio-button>
                                                <mat-radio-button value="female">महिला</mat-radio-button>
                                              </mat-radio-group>
                                    </span>
                                </div>
                                <div class="row">
                                        <span class="req-input" >
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                                
                                                <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="education"  placeholder="शैक्षिक योग्यता" >
                                                      </mat-form-field>
                                            </span>
                                </div>
                              
                    
                </div>

                
                
            </div>
           
       </div>
       <div class="col-md-4">
          
            <div id="contact-form" class="form-container" data-form-container>
                <div class="input-container">
                    	
                                <div class="row">
                                        <span class="req-input" >
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                                
                                                <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="profession"  placeholder="व्यवसाय" >
                                                      </mat-form-field>
                                            </span>
                                </div>
                                <div class="row">
                                        <span class="req-input" >
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                                
                                                <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="number"  placeholder="संपर्क संख्या *" >
                                                      </mat-form-field>
                                            </span>
                                </div>
                                <div class="row">
                                        <span class="req-input">
                                            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                                  <mat-form-field>
                                                        <mat-label>वैवाहिक स्थिति</mat-label>
                                                        <mat-select  formControlName="maried" >
                                                          <mat-option  value="Married">विवाहित</mat-option>
                                                          <mat-option value="unmarried" >अविवाहित</mat-option>
                                                          <mat-option  value="widow">विधवा</mat-option>
                                                          <mat-option value="divorced" >तलाकशुदा</mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                        </span>
                                    </div>
                                    <div class="row">
                                            <span class="req-input">
                                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
                                                      <mat-form-field>
                                                            <mat-label>क्षेत्र</mat-label>
                                                            <mat-select  formControlName="area" >
                                                              <mat-option  value="city">शहर</mat-option>
                                                              <mat-option value="Semi-urban" >अर्ध शहरी</mat-option>
                                                              <mat-option  value="rural">ग्रामीण</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                            </span>
                                        </div>
                            	<div class="row submit-row">
                                        <button type="button"  (click)="registerSurvey(SurverRegistrationForm.value)"  value="Ready for Survey" class="btn btn-block submit-form">Ready for Survey</button>
                                </div>
                    
                </div>

                
                
            </div>
           
       </div>
       <div class="col-md-2"></div>
    </form>
    </div>
    
    <!-- <div class="row">
              
            <div class="col-md-4">.</div>
            <div class="col-md-4">.</div>
            <div class="col-md-4"></div>
            <div class="col">
                <p>
                        आगे के पृष्ठों पर आपके शारीरिक एवं मानसिक स्वास्थ्य के सम्बन्ध में 38 कथन दिए गए है |कृपया प्रत्येक कथन
                        को ध्यानपूर्वक पढ़े तथा सामान्यतः आप कैसा अनुभव करते हैं, के आधार पर समुचित में तीन
                        विकल्प उत्तर, यथा भाग &#39;अ&#39; (प्रशन 1-16) में सदैव, कभी-कभी या कभी नहीं तथा भाग ‘ब’ (प्रशन 17-38) में
                        विकल्प सत्य, कुछ-कुछ सत्य या असत्य में से किसी एक पर जो आपके विचार/अनुभव/स्तिथि के निकटतम हो ,
                        उसपर क्लिक करे | कृपया सभी 38 कथनो के उत्तर अवश्य दे |
                </p>
            </div>
            <div class="col-md-4">.</div>
            <div class="col-md-4">.</div>
            <div class="col-md-4">आपके उत्तरों को पूर्णतया गोपनीय रखा जायेगा |</div>
           
        </div>   -->
    <!-- <a  class="form-control" (click)="adminLogin()" >Login to Admin</a> -->
</body>