<body>
    <div class="container">  
        <h2 style="text-align: center;">PGI H.Q-N-1-VWP</h2>  
          <h5 style="text-align: center;color: yellow">(Hindi Version)</h5>
          <div class="row">
              
            <div class="col-md-4">S.K. Verma (Chandigarh)</div>
            <div class="col-md-4">N.N. Wig (Delhi)</div>
            <div class="col-md-4">Dwarka Pershad (Chandigarh)</div>
        </div>  
        <h2 style="text-align: center">निर्देश</h2>
    <p>
            आगे के पृष्ठों पर आपके शारीरिक एवं मानसिक स्वास्थ्य के सम्बन्ध में 38 कथन दिए गए है |कृपया प्रत्येक कथन
            को ध्यानपूर्वक पढ़े तथा सामान्यतः आप कैसा अनुभव करते हैं, के आधार पर समुचित में तीन
            विकल्प उत्तर, यथा भाग &#39;अ&#39; (प्रशन 1-16) में सदैव, कभी-कभी या कभी नहीं तथा भाग ‘ब’ (प्रशन 17-38) में
            विकल्प सत्य, कुछ-कुछ सत्य या असत्य में से किसी एक पर जो आपके विचार/अनुभव/स्तिथि के निकटतम हो ,
            उसपर क्लिक करे | कृपया सभी 38 कथनो के उत्तर अवश्य दे |
    </p>
    <h3 style="text-align: center;color: yellow">आपके उत्तरों को पूर्णतया गोपनीय रखा जायेगा |</h3>
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Register for Survey Form</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/accounts/login/"></a></div>
                </div>  
                <div class="panel-body" >
                    <form [formGroup]="SurverRegistrationForm">
                        <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
                                
    
                       
                           
                            <div id="div_id_username" class="form-group required">
                                <label for="id_username" class="control-label col-md-4  requiredField">
                                    <span class="asteriskField">नाम*</span> </label>
                                <div class="controls col-md-8 ">
                                    <input class="input-md  textinput textInput form-control" formControlName="name" id="id_username" maxlength="30"  placeholder="नाम" style="margin-bottom: 10px" type="text" />
                                </div>
                            </div>
                            <!-- <div id="div_id_email" class="form-group required">
                                <label for="id_email" class="control-label col-md-4  requiredField"> E-mail<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 ">
                                    <input class="input-md emailinput form-control" id="id_email" formControlName="email" name="email" placeholder="Your current email address" style="margin-bottom: 10px" type="email" />
                                </div>     
                            </div> -->
                            <div id="div_id_password1" class="form-group required">
                                <label for="id_password1" class="control-label col-md-4  requiredField">
                                    दिनांक<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "> 
                                    <input class="input-md textinput textInput form-control" formControlName="date" id="id_password1" placeholder="दिनांक" style="margin-bottom: 10px" type="date" />
                                </div>
                            </div>
                            <div id="div_id_password2" class="form-group required">
                                 <label for="id_password2" class="control-label col-md-4  requiredField"> जन्म की तारीख<span class="asteriskField">*</span> </label>
                                 <div class="controls col-md-8 ">
                                    <input class="input-md textinput textInput form-control" formControlName="dob" id="id_password2"  placeholder="जन्म की तारीख" style="margin-bottom: 10px" type="date" />
                                </div>
                            </div>
                            <!-- <div id="div_id_name" class="form-group required"> 
                                <label for="id_name" class="control-label col-md-4  requiredField"> full name<span class="asteriskField">*</span> </label> 
                                <div class="controls col-md-8 "> 
                                    <input class="input-md textinput textInput form-control" id="id_name" name="name" placeholder="Your Frist name and Last name" style="margin-bottom: 10px" type="text" />
                                </div>
                            </div> -->
                            <div id="div_id_gender" class="form-group required">
                                <label for="id_gender"  class="control-label col-md-4  requiredField"> 
                                    लिंग<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                     <label class="radio-inline"> <input type="radio" name="gender" id="id_gender_1" value="Male" formControlName="sex"  style="margin-bottom: 10px">
                                        पुरुष</label>
                                     <label class="radio-inline"> <input type="radio" name="gender" id="id_gender_2" value="Female"  formControlName="sex" style="margin-bottom: 10px">
                                        महिला </label>
                                </div>
                            </div>
                            <div id="div_id_company" class="form-group required"> 
                                <label for="id_company" class="control-label col-md-4  requiredField"> शैक्षिक योग्यता <span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "> 
                                     <input class="input-md textinput textInput form-control" id="id_company"  formControlName="education" placeholder="शैक्षिक योग्यता " style="margin-bottom: 10px" type="text" />
                                </div>
                            </div> 
                            <div id="div_id_catagory" class="form-group required">
                                <label for="id_catagory" class="control-label col-md-4  requiredField"> 
                                    व्यवसाय<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "> 
                                     <input class="input-md textinput textInput form-control" id="id_catagory" formControlName="profession"  placeholder=" व्यवसाय" style="margin-bottom: 10px" type="text" />
                                </div>
                            </div> 
                            <div id="div_id_number" class="form-group required">
                                 <label for="id_number" class="control-label col-md-4  requiredField">
                                    संपर्क संख्या<span class="asteriskField">*</span> </label>
                                 <div class="controls col-md-8 ">
                                     <input class="input-md textinput textInput form-control" id="id_number" formControlName="number"  placeholder="संपर्क संख्या" style="margin-bottom: 10px" type="text" />
                                </div> 
                            </div> 
                            <div id="div_id_location" class="form-group required">
                                <label for="id_location" class="control-label col-md-4  requiredField"> 
                                    वैवाहिक स्थिति<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 ">
                                    <label class="radio-inline"> <input type="radio" name="mar" id="id_gender_1" formControlName="maried" value="Married"  style="margin-bottom: 10px">
                                        विवाहित </label>
                                    <label class="radio-inline"> <input type="radio" name="mar" id="id_gender_2" formControlName="maried" value="UnMarried"  style="margin-bottom: 10px">
                                        अविवाहित </label>
                                    <label class="radio-inline"> <input type="radio" name="mar" id="id_gender_2" formControlName="maried" value="Widow"  style="margin-bottom: 10px">विधवा </label>
                                    <label class="radio-inline"> <input type="radio" name="mar" id="id_gender_2" formControlName="maried" value="Divorced"  style="margin-bottom: 10px">तलाकशुदा </label>
                                </div> 
                            </div>
                            <div id="div_id_location" class="form-group required">
                                <label for="id_location" class="control-label col-md-4  requiredField"> क्षेत्र<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 ">
                                    <label class="radio-inline"> <input type="radio" name="areaa" id="id_gender_2" formControlName="area" value="City"  style="margin-bottom: 10px">शहर </label>
                                    <label class="radio-inline"> <input type="radio" name="areaa" id="id_gender_2" formControlName="area" value="semi-urban"  style="margin-bottom: 10px">
                                        अर्ध शहरी </label>
                                    <label class="radio-inline"> <input type="radio" name="areaa" id="id_gender_2" formControlName="area" value="rural"  style="margin-bottom: 10px">ग्रामीण </label>
                                </div> 
                            </div>
                           
                            <div class="form-group"> 
                                <div class="aab controls col-md-4 "></div>
                                <div class="controls col-md-8 ">
                                    <input type="button" (click)="registerSurvey(SurverRegistrationForm.value)"   name="Signup" value="Ready for Survey" class="btn btn-primary btn btn-info" id="submit-id-signup" />
                                   
                                </div>

                            </div> 
                                
                        
    
                    </form>
                    
                </div>
            </div>
        </div> 
    </div>
    
    <!-- <div class="row">
              
            <div class="col-md-4">.</div>
            <div class="col-md-4">.</div>
            <div class="col-md-4"></div>
            <div class="col">
                <p>
                        आगे के पृष्ठों पर आपके शारीरिक एवं मानसिक स्वास्थ्य के सम्बन्ध में 38 कथन दिए गए है |कृपया प्रत्येक कथन
                        को ध्यानपूर्वक पढ़े तथा सामान्यतः आप कैसा अनुभव करते हैं, के आधार पर समुचित में तीन
                        विकल्प उत्तर, यथा भाग &#39;अ&#39; (प्रशन 1-16) में सदैव, कभी-कभी या कभी नहीं तथा भाग ‘ब’ (प्रशन 17-38) में
                        विकल्प सत्य, कुछ-कुछ सत्य या असत्य में से किसी एक पर जो आपके विचार/अनुभव/स्तिथि के निकटतम हो ,
                        उसपर क्लिक करे | कृपया सभी 38 कथनो के उत्तर अवश्य दे |
                </p>
            </div>
            <div class="col-md-4">.</div>
            <div class="col-md-4">.</div>
            <div class="col-md-4">आपके उत्तरों को पूर्णतया गोपनीय रखा जायेगा |</div>
           
        </div>   -->
    <a  class="form-control" (click)="adminLogin()" >Login to Admin</a>
</body>